[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktf = "==0.18.0"
pytest = "*"
jinja2 = "==3.1.2"
cdktf-cdktf-provider-aws = "==17.0.6"
